name: Build & Push Image to ACR

on:
  push:
    branches: [ "main" ]

env:
  ACR_NAME: acrdevopslabms
  IMAGE_NAME: devopslab-app

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to ACR
        run: az acr login --name $ACR_NAME

      - name: Build and push image
        run: |
          ACR_LOGIN_SERVER=${ACR_NAME}.azurecr.io
          IMAGE_TAG=${{ github.sha }}

          docker build -t $ACR_LOGIN_SERVER/$IMAGE_NAME:latest -t $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG app/

          docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:latest
          docker push $ACR_LOGIN_SERVER/$IMAGE_NAME:$IMAGE_TAG
