name: Policy as Code (OPA / Conftest)

on:
  push:
  pull_request:

jobs:
  policy-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Conftest
        run: |
          curl -L -o conftest.tar.gz https://github.com/open-policy-agent/conftest/releases/download/v0.50.0/conftest_0.50.0_Linux_x86_64.tar.gz
          tar -xzf conftest.tar.gz
          sudo mv conftest /usr/local/bin/
          conftest --version

      - name: Run Dockerfile policies
        run: |
          conftest test app/Dockerfile \
            --policy policy/docker

          conftest test nginx/Dockerfile \
            --policy policy/docker
